.navbarContainer{
    height: 75px;
    background-color: #FFF7ED;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 2px lightgray;
    padding-inline: 1em;
}

.navLinks:not(:last-child){
    margin-right: 2em;
}

.navbarContainer a:not(:first-child) {
    text-decoration: none;
    color: #4D4D4D;
}

.navbarContainer a:not(:first-child):hover {
    color: #161616;
    text-decoration: underline;
    font-weight: bold;
}

.homeLink{
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
}

.hostLink{
    margin-left: auto;
}
